<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    {# Include the jQuery and Media file required by the widget. #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {{ form.media }}
    <title></title>
  </head>
  <body>
    <h1>This example using the widget FineUploaderWidget for the form.</h1>
    <h2>Check forms.py and example_form.html for how to use the widget for the form field.</h2>
    <form id="form" enctype="multipart/form-data" action="" method="post">
        {# Include the CSRFToken for form submit. #}
        {% csrf_token %}
        {{ form }}
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
